<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/products.css">
    <title>productos</title>
</head>
<body>
    <h1>Listado de productos</h1>
    <ul>
        <li>Producto01</li>
        <li>Producto02</li>
        <li>Producto03</li>
        <li>Producto04</li>
        <li>Producto05</li>
        <li>Producto06</li>
        <li>Producto07</li>
        <li>Producto08</li>
        <li>Producto09</li>
        <li>Producto10</li>
        <li>Producto11</li>
        <li>Producto12</li>
        <li>Producto13</li>
        <li>Producto14</li>
        <li>Producto15</li>
        <li>Producto16</li>
        <li>Producto17</li>
        <li>Producto18</li>
        <li>Producto19</li>
        <li>Producto20</li>



    </ul>
</body>
</html>