<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title class="texto-azul">Mercado Liebre</title>
   <link rel="stylesheet" href="/css/styles.css">
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/register.css">


</head>

<body>
   <header class="main-header">
      <div class="main-header-top-bar">
         <a href="/">
            <img class="logo"src="/images/logo-mercado-liebre.svg" alt="logo del sitio"> 
            </a> 
         <form action="search">
            <input type="text" placeholder="Buscar productos,marcas">
            <button> <i class="fas fa-search"></i></button>
         </form>
      </div>
      <p class="copy-header">
         <i class="fas fa-hand-holding-usd"></i>
         Comprá en cuotas y sin tarjeta de crédito
      </p>
      </div>


      <nav>
         <div class="burger-menu">
            <i class="fas fa-bars"></i>
         </div>
      </nav>

      <nav class="main-header-navbar">
         <ul class="left-navbar">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
         </ul>

         <ul class="right-navbar">
            <li><a href=""> Creá tu cuenta </a> <i class="far fa-address-card"> </i></li>
            <li><a href="">Ingresá</a> <i class="fas fa-sign-in-alt"></i> </li>
            <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i> </li>
         </ul>

      </nav>

   </header>



   <body>

      <form action="/register" method="get" class="register-container">
         <h3>Creá tu usuario!</h3>
         <ul class="register-form">
            <div class="form-dates">
               <li>
                  <input type="text" name="name" placeholder="Nombre y apellido" required>
               </li>
               <li>
                  <input type="text" name="new-user" placeholder=" Nombre de usuario"required>
               </li>

               <div class="form-texts">
                  <label for="birth">Fecha de nacimiento:</label>
               </div>
               <li>
                  <input type="date" name="birth-date" placeholder="Fecha de nacimiento">
               </li>
               <li>
                  <input type="text" name="address" placeholder="Domicilio">
               </li>
               <div class="form-texts">
                  <label for="birth">Tipo de usuario:</label>
               </div>
               
               <li>
                  
                  <div class="texts">
                     
                     <label for="profile"> 
                        <input type="radio" name="profile-user">Comprador
                     </label>
                     <label for="profile">
                        <input type="radio" name="profile-user">Vendedor
                     </label>
                  </div>

               </li>
               <div class="form-texts">
                  <label for="categories">Categoría de intereses:</label>
               </div>
               <li>
                  
                  <div class="intereses">
                     
                     <label for="interests">
                        <input type="checkbox" name="cat-interest" value="electro" style="width: 10%;">Electrónica
                     </label>
                     <br>
                     <label>
                        <input type="checkbox" name="cat-interest" value="fashion">Moda
                     </label>
                     <br>
                     <label>
                        <input type="checkbox" name="cat-interest" value="home">Hogar
                     </label>
                     <br>
                     <label>
                        <input type="checkbox" name="cat-interest" value="toys">Juguetería
                     </label>
                     <br>
                     <label>
                        <input type="checkbox" name="cat-interest" value="health">Vida sana
                     </label>
                     <br>
                  </div>
               </li>

               <div class="form-texts">
                  <label for="img">Agregar imagen de perfil:</label>
               </div>
               <li>
                  <input type="file" name="imagen"/>
               </li>
               <li>
                  <input type="password" name="pass" placeholder="Contraseña">
               </li>
               <li>
                  <input type="password" name="conf-pass" placeholder="Confirmar contraseña">
               </li>
            </div>


            <div class="buttons">

               <button class="submit" type="submit"> Enviar</button>
               <a href="home.html"></a>
               <!--ver como ponerlo-->


               <button class="delete" type="reset">Borrar</button>
            </div>
         </ul>



      </form>








      <footer class="main-footer">

         <div class="paragraph-1">
            <i class="fas fa-credit-card" id="card"></i>
            <h2 class="pay-phrase"> Pagá con tarjeta o en efectivo </h2>
            <h3 class="text"> Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
               puntos de pago. ¡Y siempre es seguro!</h3>

            <div class="paragraph-2">
               <i class="fas fa-gift" id="gift"></i>
               <h2 class="shipping-phrase">Envío gratis desde los $2.500</h2>
               <h3 class="text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                  productos. Es un beneficio de Mercado Puntos.</h3>

               <div class="paragraph-3">
                  <i class="fas fa-user-shield" id="shield"></i>
                  <h2 class="security-phrase"> Seguridad de princio a fin</h2>
                  <h3 class="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                     porque estás siempre protegid@.</h3>

                  <h4 class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

      </footer>
   </body>